#dgx-donate-container
{
	background: #ffffff;
}

.dgx-donate-form-section
{
	padding: 0px 10px 10px 10px;
	background: #f5f5f5;
	margin: 0 0 24px;
	border-bottom: 1px solid #ccc;
}

.dgx-donate-form-section h2
{
	border-bottom: 2px solid #e60005;
	margin: 0px -10px 12px -10px;
	padding-bottom: 5px;
	background: #ffffff;
}

.dgx-donate-form-section hr
{
	border: none;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.dgx-donate-form-subsection
{
	padding-left: 40px;
	margin-bottom: 24px;
}

.dgx-donate-comment
{
	font-size: 80%;
	color: #aaa;
}

.dgx-donate-form-section input
{
	width: auto;
	margin-right: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
	font-family: sans-serif;
    font-size: 13px;
    padding: 4px;
    vertical-align: middle;
}

.dgx-donate-form-section > p:last-child
{
	margin-bottom: 0;
}

.dgx-donate-form-section select {
	max-width: 200px;
}

.dgx-donate-form-section input.horiz
{
	margin-left: 50px;
}

.dgx-donate-form-section .aftertext
{
	margin-left: 30px;
}

.dgx-donate-form-section label
{
	width: 144px;
	display: inline-block;
}

.dgx-donate-form-indent
{
	margin-left: 20px;
}

.dgx-donate-form-tribute-box, .dgx-donate-form-designated-box
{
	margin-top: 5px;
	display: none; /* initially hidden */
	border: 1px solid #f0f0f0;
	background: #f8f8f8;
	border-radius: 8px;
	padding: 10px;
}

.dgx-donate-form-designated-box
{
	margin-bottom: 10px;
}

.dgx-donate-form-section input.dgx-donate-invalid-input
{
	background: #faa;
}

.dgx-donate-busy, .dgx-donate-error-msg, .dgx-donate-pay-disabled
{
	display: none;
}

.dgx-donate-form-section input.dgx-donate-pay-enabled
{
	padding: 10px;
	cursor: pointer;
	border: none;
}

.dgx-donate-pay-disabled {
	padding: 10px;
}

#dgx-donate-form-payment-section, #dgx-donate-form-sandbox-warning
{
	background: #ffffff;
	border: 0px;
}

#dgx-donate-form-payment-section p
{
	text-align: center;
}

#dgx-donate-form-sandbox-warning p
{
	margin: 0px 0px -20px -10px;
	color: #ff0000;
	font-weight: bold;
	font-size: 14px;
}
